<!--
 * @Author: your name
 * @Date: 2020-10-28 18:10:41
 * @LastEditTime: 2020-10-29 10:30:26
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings 
 * @FilePath: /freedomsky0612.github.io/_includes/cv_interests.html
-->
<div class="interests-container container-block">
<h2 class="container-block-title">兴趣爱好</h2>
    <ul class="list-unstyled interests-list">
        {% for interest in site.data.cv_interests %}
            <li>{{ interest.name }}</li>
        {% endfor %}
    </ul>
</div><!--//interests-->
